@model  IEnumerable<Ejab.BAL.ModelViews.Reports.OfferViewModel>
@{
    ViewBag.Title = "DownloadOfferViewPDF";
   // Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    table {
        overflow: visible !important;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>

<!doctype html>
<h2 style="text-align:center">@Resources.Global.Offers</h2>
        <table class="table table-striped" style="table-layout: fixed; width: 100%">
            <thead>
                <tr>
                    <th>@Resources.Global.OfferNumber  </th>
                    <th>@Resources.Global.Date  </th>
                    <th>@Resources.Global.ServiceProvider  </th>
                    <th>@Resources.Global.Price @Resources.Global.CurrencySymoble   </th>
                    <th>@Resources.Global.Title  </th>
                    <th>@Resources.Global.Description  </th>
                    <th>@Resources.Global.RegionName  </th>
                    <th>@Resources.Global.quantity  </th>
                    <th>@Resources.Global.Period  </th>
                    <th>@Resources.Global.OfferState  </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OfferNumber  </td>
                        <td>@item.OfferDate.ToShortDateString()  </td>
                        <td>@item.ServiceProvider  </td>
                        <td>@String.Format("{0:n0}", @item.Price)  </td>
                        <td>@item.Title   </td>
                        <td>@item.Description</td>
                        <td>@item.RegionName</td>
                        <td>@item.quantity      </td>
                        <td>@item.Period     </td>
                        <td>
                            @if (@item.OfferState.ToString() == "Accepted")
                        {  <span class="btn btn-primary btn">@Resources.Global.Accepted</span>}
                        @if (@item.OfferState.ToString() == "Done")
                        {  <span class="btn btn-success btn">@Resources.Global.Done </span>}
                        @if (@item.OfferState.ToString() == "Rejected")
                        {  <span class="btn btn-default btn" style="background-color:dimgray">@Resources.Global.Rejected </span>}
                    </td>

                    </tr>

                }

            </tbody>
        </table>
    



