@model Ejab.BAL.ModelViews.UserViewModel

<div class="ibox ">
    <div class="ibox-title">
        <h5>Edit Service Provider</h5>

    </div>
    
    <div class="ibox-content">
        @using (Html.BeginForm("EditServiceProvider", "Customer", new { id = @ViewBag.id }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @*<input type="hidden" value=@ViewBag.id />*@
            @Html.HiddenFor(x=>x.Id)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="col col-sm-12 ">
                <div class="form-group ">
                    <label class="col-lg-2 control-label">First name</label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.FirstName, "*")
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Last Name</label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" , @value= @ViewBag.password })
                        @Html.ValidationMessageFor(x => x.LastName, "*")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Mobile</label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(x => x.Mobile, "*")
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Email, "*")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">PassWord </label>
                    <div class="col-lg-8">
                        @Html.EditorFor(x => x.Password, new { @class = "form-control"})
                        @ ViewBag.password
                       @Html.ValidationMessageFor(x => x.Password, "*")
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-lg-2 control-label">Profile Image</label>
                    <div class="col-lg-8">
                        <input type="file" name="file" class="form-control" id="Profileupload" onchange="ImagePreview(this);"/>
                    </div>
                    <div><img alt="ImagePreview" src="@Model.ProfileImgPath" id="ImgPreview" class="pull-right  img-circle "  style="display:none"/></div>
                </div>


                <div class="form-group">
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-w-m btn-success  ">Save Changes</button>
                    </div>
                </div>

            </div>

        }




    </div>
</div>
