@using Ejab.DAl.Common
@using PagedList
@using PagedList.Mvc
@model  IPagedList<Ejab.BAL.ModelViews.UserViewModel>

@{
    ViewBag.Title = "AllServiceProviders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="page-wrapper" class="gray-bg dashbard-1">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
            <h2> @Resources.Global.ServiceProvider  </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Chart/Index/">@Resources.Global.Home  </a>
                </li>
                <li>
                    @Resources.Global.ServiceProvider 
                </li>
            </ol>
        </div>
        <div class="col-sm-4 text-left">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">

                                <div class="row">

                                        <div class="col-sm-3">
                                            <div class="form-group jobss">
                                                <h5>
                                                    @Resources.Global.ServiceProvidersCount
                                                    <span>
                                                        @ViewBag.Count
                                                    </span>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">

                                        </div>
                                        <div class="col-sm-6 text-left">
                                            <div class="form-group">

                                                @using (Html.BeginForm("AllServiceProviders", "Customer", FormMethod.Get))
                                                {
                                                
                                                    <div class="input-group m-b">
                                                        <input type="text" name="search" id="search" placeholder=@Resources.Global.Search class="form-control">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn btn-primary  ">@Resources.Global.Search</button>

                                                        </span>

                                                    </div>



                                                }

                                            </div>
                                        </div>
                                 </div>
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>@Resources.Global.Code </th>
                                                        <th>@Resources.Global.FullName</th>
                                                        <th>@Resources.Global.Email </th>
                                                        <th>@Resources.Global.Mobile</th>
                                                        <th>@Resources.Global.Rating </th>
                                                        <th>@Resources.Global.IsActive</th>
                                                        <th  > </th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model)
                                                    {

                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td>@item.FirstName @item.LastName </td>
                                                            <td>@item.Email </td>
                                                            <td>@item.Mobile </td>
                                                            <td>
                                                                @for (var i = 1; i <= @item.Rating; i++)
                                                                {
                                                                    <i class="fa fa-star"></i>
                                                                }
                                                                @for (var i = (@item.Rating + 1); i <= 5; i++)
                                                                {
                                                                    <i class="fa fa-star-o"></i>
                                                                }



                                                            </td>

                                                            <td>
                                                                @if (@item.IsActive == true)
                                                                {
                                                                    <button class="btn btn-info btn-circle" type="button" id="changeState" onclick="location.href = '@Url.Action( "Deactivate", "Customer", new { id = item.Id,stat=false})'">
                                                                        <i class="fa fa-check"></i>
                                                                    </button>

                                                                }

                                                                else
                                                                {
                                                                    <button class="btn btn-warning btn-circle" type="button" id="changeState" onclick="location.href = '@Url.Action( "Deactivate", "Customer", new { id = item.Id,stat=true  })'">
                                                                        <i class="fa fa-times"></i>
                                                                    </button>

                                                                }


                                                            </td>


                                                            <td class="text-right footable-visible footable-last-column">
                                                                <div class="btn-group">
                                                                    @Html.ActionLink(Resources.Global.Detalies, "ServiceProviderDetailes", "Customer", new { id = @item.Id }, new { @class = "btn btn-outline btn-info" })
                                                                    @Html.ActionLink(@Resources.Global.Edit, "EditServiceProvider", "Customer", new { id = @item.Id }, new { @class = "btn btn-outline btn-primary" })
                                                                    @*@Html.ActionLink(@Resources.Global.Delete , "DeleteUser", "Customer", new { id = @item.Id }, new { @class = "btn btn-outline btn-danger", onclick = "return confirm('Are you sure you wish to delete this ServiceProvider?');" })*@
                                                                    <button class="btn btn-outline btn-danger demo3" data-id="@item.Id">@Resources.Global.Delete </button>
                                                                    @Html.ActionLink(@Resources.Global.AddMessage, "AddMessageToUser", "Message", new { id = @item.Id }, new { @class = "btn btn-outline btn-primary" })

                                                                </div>
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>


                                            </table>
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            <nav aria-label="Page navigation">
                                                @Html.PagedListPager(Model, Page => Url.Action("AllServiceProviders", "Customer", new { Page, search = Request.QueryString["search"] }))
                                            </nav>

                                        </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>

    <div class="footer text-center">
        <p>@Resources.Global.footer  </p>
    </div>
</div>






@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
            var foo = getParameterByName('search'); // "lorem"
            var nametext = document.getElementById('search');
            nametext.value = foo;

        $('.demo3').click(function () {
            debugger;
            var id=$(this).attr('data-id');

            swal({
               title: '@Resources.Global.SureToDelete ',//,
                    text: '@Resources.Global.MessageTitle ',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: '@Resources.Global.Dialogconfirm',
                cancelButtonText: '@Resources.Global.CancelDeleting',
                closeOnConfirm: false
            },

                        function (isConfirm) {
                            if (isConfirm) {
                                $.get('/Customer/DeleteUser?id=' + id, function () {
                                    swal("Deleted!", '@Resources.Global.SuccessfullyDeleted', "success");
                                    window.location.reload();
                                                });

                            } else {
                                $.get('/Customer/AllServiceProviders/', function (data) {
                                    swal("Cancelled", "لا يمكن الحذف :)", "Cancel");
                                });


                            }
                        });
        });


    });
    </script>

}































