@model Ejab.BAL.ModelViews.ChangePassWordModel

@{
    ViewBag.Title = "ChangePassword";
  
}



<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@Resources.Global.Login  </title>

    <link href="~/Content/Admin/css/bootstrap.rtl.css" rel="stylesheet">
    <link href="~/Content/Admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/Admin/css/animate.css" rel="stylesheet">
    <link href="~/Content/Admin/css/style.css" rel="stylesheet">
    <link href="~/Content/Admin/css/style_ar.css" rel="stylesheet">

</head>

<body class="logins gray-bg ">

    <section class="section ">
        <div class="container">
            <div class="title-header text-center">
                <h1>@Resources.Global.Chang  <span>@Resources.Global.Password</span></h1>
            </div>
            <div class="border"></div>

            @using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post, new { @class = "order-price" }))
            {
                <div class="row">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()



                      <div class="col-md-12 ">

                        <div class="form-group">
                            <label for="email">
                               @Resources.Global.OldPassword
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-envelope"></span>
                                </span>
                                @Html.PasswordFor(x => x.OldPassWord, new { @class = "form-control", required = "required" })
                                @*@Html.ValidationMessageFor(x => x.OldPassWord, "*")*@
                            </div>
                        </div>

                          <div class="form-group">
                              <label for="email">
                                 @Resources.Global.NewPassword 
                              </label>
                              <div class="input-group">
                                  <span class="input-group-addon">
                                      <span class="fa fa-envelope"></span>
                                  </span>
                                  @Html.PasswordFor(x => x.NewPassWord, new { @class = "form-control",required="required" })
                                  @Html.ValidationMessageFor(x => x.NewPassWord, "*")
                              </div>
                          </div>
                        @if (@ViewBag.InvalidData != null)
                          {
                          <span style="color:red"> @Resources.Global.Loginerror</span>
                          }
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary block full-width m-b btn-simple">@Resources.Global.ChangePassword<i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </div>
                    </div>
                

                  

                    </div>
                    }



                </div>
    </section>




    <!-- Mainly scripts -->
    <script src="~/Scripts/js/jquery-2.1.1.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>

</body>

</html>