@model Ejab.BAL.ModelViews.MessagesFromAdmin

@{
    ViewBag.Title = "AddMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper" class="gray-bg dashbard-1">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>@Resources.Global.Admins</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Chart/Index/">@Resources.Global.Home  </a>
                </li>
                <li>
                    <a href="/Message/Index/">@Resources.Global.Messages </a>
                </li>
               
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content ">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>@Resources.Global.New  </h5>
                            </div>
                            <div class="ibox-content loginss">
                                @using (Html.BeginForm("AddMessage", "Message"
, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="col col-sm-12 ">
                                        <div class="form-group ">
                                            <label class="col-sm-2 control-label">@Resources.Global.MessageHeader  </label>
                                            <div class="col-sm-10">

                                                <div class=" m-b ">
                                                    @Html.TextBoxFor(x => x.MessageTitle, new { @class = "form-control", id = "txtTitlee", placeholder = @Resources.Global.MessageHeader, maxlength = "200" })

                                                </div>
                                                @Html.ValidationMessageFor(x => x.MessageTitle)
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-sm-2 control-label">@Resources.Global.MessageDescription  </label>
                                            <div class="col-sm-10">

                                                <div class="m-b ">
                                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", id = "txtTitlee", placeholder = @Resources.Global.MessageDescription, maxlength = "500" , @rows = "5" })

                                                </div>
                                                @Html.ValidationMessageFor(x => x.Description)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">     @Resources.Global.MessageReciver </label>
                                            <div class=" col-sm-10  ">
                                                @Html.DropDownListFor(x => x.ReciverId, (IEnumerable<SelectListItem>)ViewBag.AllUsers, null, new { @class = "form-control m-b chosen-select" })
                                            </div>
                                        </div>

                                        </div>

                                    <div class="row">
                                        <div class="form-group col-xs-12 text-center">
                                            <button class="btn btn-primary buttt" type="submit"> @Resources.Global.Save  </button>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="footer text-center">
        <p>@Resources.Global.footer </p>
    </div>
</div>


@*<script src="~/Scripts/AutoComplete.js"></script>*@
@*<script src="~/Scripts/js/jquery-2.1.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $.ajax({
                url: "ReturnUsers",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    $(result).each(function () {
                        $("#AllUsers").append($("<option></option>").val(this.Id).html(this.FirstName + " " + this.LastName));
                    });
                },
                error: function (data) { }
            });
            $.ajax({
                url: "ReturnOffers",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    $(result).each(function () {
                        $("#AllOffers").append($("<option></option>").val(this.Id).html(this.Title));
                    });
                },
                error: function (data) { }
            });
            $.ajax({
                url: "ReturnRequsts",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    $(result).each(function () {
                        $("#AllRequests").append($("<option></option>").val(this.Id).html(this.Title));
                    });
                },
                error: function (data) { }
            });
        });

    </script>*@