@model  IPagedList<Ejab.BAL.ModelViews.OfferViewModel>
@using PagedList;
@using PagedList.Mvc;
@using Ejab.UI.Helpers;



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
            <h2>@Resources.Global.Offers </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Chart/Index/">@Resources.Global.Home </a>
                </li>
                <li>
                    @Resources.Global.Offers
                </li>
            </ol>
        </div>
        <div class="col-sm-4 text-left">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox-content">


                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group jobss">
                                        <h5>
                                            @Resources.Global.OfferNumbers
                                            <span>
                                                @ViewBag.Count
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-6 text-left">
                                    <div class="form-group">

                                        @using (Html.BeginForm("Index", "Offer", FormMethod.Get))
                                    {

                                    <div class="input-group m-b">
                                        <input type="text" name="search" id="search" placeholder="@Resources.Global.Search" class="form-control">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary  ">@Resources.Global.Search </button>

                                        </span>                                                                   
                                        
                                    </div>



                                    }

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="table-responsive">

                                    <table class="table table-striped">

                                        <thead>
                                            <tr>
                                                <th>@Resources.Global.OfferNumber </th>
                                                <th>@Resources.Global.OfferDate </th>
                                                <th>@Resources.Global.Title </th>
                                                <th>@Resources.Global.Price </th>
                                                <th>@Resources.Global.quantity </th>
                                                <th>@Resources.Global.Period </th>
                                                <th>@Resources.Global.IsActive </th>
                                                <th>@Resources.Global.ServiceProvider </th>
                                                <th>@Resources.Global.ExpireDate </th>
                                                <th>@Resources.Global.Region</th>

                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                        {

                                        <tr>
                                            <td>@item.OfferNumber  </td>
                                            
                                            <td>@item.OfferDate.ToShortDateString()</td>

                                          
                                            <td>@item.Title   </td>
                                            <td>@String.Format("{0:0.##}", @item.Price)        </td>
                                            <td>@item.quantity   </td>
                                            <td>@item.Period    </td>
                                            <td>
                                                @if (item.IsActive.HasValue && item.IsActive.Value == true)
                                                    {
                                                    <button class="btn btn-info btn-circle" type="button" onclick="location.href = '@Url.Action( "Deactivate", "Offer", new { id = @item.Id, stat = false })'">
                                                        <i class="fa fa-check"></i>
                                                    </button>

                                                    }

                                                    else
                                                    {
                                                    <button class="btn btn-warning btn-circle" type="button" onclick="location.href = '@Url.Action( "Deactivate", "Offer", new { id = @item.Id, stat = true  })'">
                                                        <i class="fa fa-times"></i>
                                                    </button>

                                                    }
                                            </td>
                                            <td>@item.ServiceProvider.FirstName @item.ServiceProvider.LastName       </td>
                                           <td>@item.ExpireDate.ToShortDateString() </td>
                                            @*<td>@Commonhelper.ConvertDate(  @item.ExpireDate.ToShortDateString())</td>*@
                                            <td>@item.Region.Name </td>

                                            <td>

                                                @Html.ActionLink(@Resources.Global.Detalies , "OfferDetailes", "Offer", new { id = @item.Id }, new { @class = "btn btn-primary  " })


                                            </td>
                                        </tr>
                                        }

                                        </tbody>
                                    </table>

                                </div>
                                <div class="col-sm-12 text-center">
                                    <nav aria-label="Page navigation">
                                        @Html.PagedListPager(Model, Page => Url.Action("Index", "Offer", new { Page, search = Request.QueryString["search"] }))
                                    </nav>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

<script>
    $(document).ready(function () {

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        var foo = getParameterByName('search'); // "lorem"
        var nametext = document.getElementById('search');
        nametext.value=foo;

    })
</script>




