@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<Ejab.BAL.ModelViews.CommonQuestions.Commonquestionsviewmodel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="page-wrapper" class="gray-bg dashbard-1">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
            <h2> @Resources.Global.Questions </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Chart/Index/">@Resources.Global.Home  </a>
                </li>
                <li>
                    @Resources.Global.Questions
                </li>
            </ol>
        </div>
        <div class="col-sm-4 text-left">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">


                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group jobss">
                                            <h5>
                                              @Resources.Global.QuestionNumbers
                                                <span>
                                                   @ViewBag.totalCounts
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                    <div class="col-sm-6 text-left">
                                        <div class="form-group">
                                           
                                            @Html.ActionLink(Resources.Global.New, "AddQuestion", "Question", null, new { @class = "colore btns-add" })
                                        </div>
                                    </div>
                                </div>

                                <!--  -->
                                <!--  -->

                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>

                                                    <th >@Resources.Global.QuestionArabic</th>
                                                    <th style="    width: 35%;">@Resources.Global.AnswerArabic </th>
                                                    <th >@Resources.Global.QuestionEnglish</th>
                                                    <th>@Resources.Global.AnswerEnglish </th>
                                                    <th style="    width: 15%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
            {
                                                    <tr>
                                                        <td>@item.QuestionArb </td>
                                                        <td>@item.AnswerArb </td>
                                                        <td>@item.QuestionEng  </td>
                                                        <td>@item.AnswerEng </td>
                                                        <td>
                                                            <div class="btn-group">
                                                                @Html.ActionLink(Resources.Global.Edit, "EditQuestion", "Question", new { id = @item.Id }, new { @class = "btn btn-outline btn-primary" })
                                                                @*@Html.ActionLink(Resources.Global.Delete, "Deletequestion", "Question", new { id = @item.Id }, new { @class = "btn btn-outline btn-danger", onclick = "return confirm('Are you sure you wish to delete this SEO?');" })*@
                                                                <button class="btn btn-outline btn-danger demo3" data-id="@item.Id">@Resources.Global.Delete </button>
                                                                </div>
</td>
                                                    </tr>

                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <nav aria-label="Page navigation">
                                            @Html.PagedListPager(Model, Page => Url.Action("Index", "Question", new { Page }))
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="footer text-center">
            <p>@Resources.Global.footer  </p>
        </div>
    </div>
   
    </div>


@section scripts{
    <script type="text/javascript">

    $(document).ready(function () {

        $('.demo3').click(function () {
            debugger;
            var id=$(this).attr('data-id');

            swal({
              title: '@Resources.Global.SureToDelete ',//,
                    text: '@Resources.Global.MessageTitle ',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
               confirmButtonText: '@Resources.Global.Dialogconfirm',
                cancelButtonText: '@Resources.Global.CancelDeleting',
                closeOnConfirm: false
            },

                        function (isConfirm) {
                            if (isConfirm) {
                                $.get('/Question/Deletequestion?id=' + id, function () {
                                    swal("Deleted!", '@Resources.Global.SuccessfullyDeleted', "success");
                                    window.location.reload();
                                                });

                            } else {
                                $.get('/Question/Index/', function (data) {
                                    swal("Cancelled", "@Resources.Global.YourFileSafe :)", "Cancel");
                                });


                            }
                        });
        });


    });
    </script>

}
