@model IPagedList<Ejab.BAL.ModelViews.TruckTypeViewModel>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper" class="gray-bg dashbard-1">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
            <h2> @Resources.Global.TruckType</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Chart/Index/">@Resources.Global.Home  </a>
                </li>
                <li>
                    @Resources.Global.TruckType
                </li>
            </ol>
        </div>
        <div class="col-sm-4 text-left">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">


                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group jobss">
                                            <h5>
                                                @Resources.Global.TrucksTypesCount
                                                <span>
                                                  @ViewBag.count
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                    </div>
                                    @*<div class="col-sm-3 text-left">
                                        <div class="form-group">
                                          
                                            <button type="button" class="colore btns-add" data-toggle="modal" data-target="#myModal4"> @Resources.Global.New</button>
                                        </div>
                                    </div>*@
                                </div>

                                <!--  -->
                                <!--  -->

                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>@Resources.Global.Code</th>
                                                    <th> @Resources.Global.TypeName </th>
                                                    <th> @Resources.Global.TruckTypeNameEng </th>

                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {

                                                    <tr>
                                                        <td>@item.TypeId </td>
                                                        <td>@item.NameArb  </td>
                                                        <td>@item.Name  </td>
                                                        <td>
                                                            <div class="btn-group">
                                                                @Html.ActionLink(Resources.Global.Edit, "EditType", "TruckType", new { id = @item.TypeId }, new { @class = "btn btn-outline btn-primary" })
                                                                @*<button class="btn btn-outline btn-danger demo3" data-id="@item.TypeId ">@Resources.Global.Delete </button>*@
                                                            </div>
</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <nav aria-label="Page navigation">
                                            @Html.PagedListPager(Model, Page => Url.Action("Index", "TruckType", new { Page, search = Request.QueryString["search"] }))
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="footer text-center">
            <p>@Resources.Global.footer </p>
        </div>
    </div>
</div>













@*<div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-clock-o modal-icon"></i>
                <h4 class="modal-title">Add New Type</h4>
            </div>
            <div class="modal-body">
                @{ Html.RenderPartial("~/Views/TruckType/_AddType.cshtml", new Ejab.BAL.ModelViews.TruckTypeViewModel()); }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@








<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">

                @{ Html.RenderPartial("~/Views/TruckType/_EditType.cshtml", Model.FirstOrDefault());}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>



   @*<div class="modal inmodal" id="EditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-clock-o modal-icon"></i>
                <h4 class="modal-title">Add New Type</h4>
            </div>
            <div class="modal-body">
                <div>
                    @{ Html.RenderPartial("~/Views/TruckType/_EditType.cshtml", Model.FirstOrDefault());}
                </div>
              </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@













@section scripts{
    <script type="text/javascript">

    $(document).ready(function () {

        $('.demo3').click(function () {
            debugger;
            var id=$(this).attr('data-id');

            swal({
                title: '@Resources.Global.SureToDelete ',//,
                    text: '@Resources.Global.MessageTitle ',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                 confirmButtonText: '@Resources.Global.Dialogconfirm',
                cancelButtonText: '@Resources.Global.CancelDeleting',
                closeOnConfirm: false
            },

                        function (isConfirm) {
                            if (isConfirm) {
                                $.get('/TruckType/DeleteType?id=' + id, function () {
                                    swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                    window.location.reload();
                                                });

                            } else {
                                $.get('/TruckType/Index/', function (data) {
                                    swal("Cancelled", "Your imaginary file is safe :)", "Cancel");
                                });


                            }
                        });
        });


    });
    </script>

}