 @using PagedList;
@using PagedList.Mvc;  

@model  IPagedList<Ejab.BAL.ModelViews.SuggestionsComplaintModelView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper" class="gray-bg dashbard-1">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
            <h2> @Resources.Global.Complaints</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Chart/Index/">@Resources.Global.Home  </a>
                </li>
                <li>
                    @Resources.Global.Complaints
                </li>
            </ol>
        </div>
        <div class="col-sm-4 text-left">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">


                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group jobss">
                                            <h5>
                                                @Resources.Global.ComplaintsNumbers
                                                <span>
                                                    @ViewBag.Count
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                    </div>

                                </div>

                                <!--  -->
                                <!--  -->

                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th style="width:40%">@Resources.Global.Cause</th>
                                                    <th>@Resources.Global.Date</th>
                                                    <th>@Resources.Global.Name</th>
                                                    <th>@Resources.Global.Email </th>
                                                    <th>@Resources.Global.Phone</th>
                                                    @*<th>@Resources.Global.ComplaintStatus</th>*@
                                                  

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {

                                                    <tr>
                                                        <td></td>
                                                        <td>@item.Cause </td>
                                                        <td>@item.Date.ToShortDateString() </td>
                                                        <td>@item.Name    </td>
                                                        <td>@item.Email    </td>
                                                        <td>@item.Phone     </td>
                                                        @*<td>
                                                            @if (@item.ComplaintStatus.ToString() == "0")
                                                            {
                                                                //onclick = "location.href = '@Url.Action( "Deactivate", "Complaint", new { id = item.Id})'

                                                                          <button class="btn btn-info btn-circle" type="button" id="changeState" >
                                                                    <i class="fa fa-check"></i>
                                                                </button>

                                                                    }

                                                                    else 
                                                            {
                                                                <button class="btn btn-warning btn-circle" type="button" id="changeState" onclick = "location.href = '@Url.Action( "Deactivate", "Complaint", new { id = item.Id})'" >
                                                                    <i class="fa fa-times"></i>
                                                                </button>

                                                            }
                                                         
                                                            </td>*@
                                                       
                                                       
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <nav aria-label="Page navigation">
                                            @Html.PagedListPager(Model, Page => Url.Action("Index", "Complaint", new { Page }))
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

