@model Ejab.BAL.ModelViews.RegionModelView

@{
    ViewBag.Title = "EditRegion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper" class="gray-bg dashbard-1">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
            <h2>@Resources.Global.Regions </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Chart/Index/">@Resources.Global.Home </a>
                </li>
                <li>
                    @Resources.Global.Regions
                </li>
            </ol>
        </div>
        <div class="col-sm-4 text-left">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">
                                <div class=" ">
                                    <div class="row">
                                        @using (Html.BeginForm("EditRegion", "Region", FormMethod.Post))
                                        {
                                            <div class="row">
                                                <div class="col-md-12 loginss">
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true)

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">@Resources.Global.RegionName </label>

                                                        <div class="col-sm-10">
                                                            <div class=" m-b ">

                                                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                                            </div>
                                                            @Html.ValidationMessageFor(x => x.Name)


                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @if (@ViewBag.message != null)
                                                        {
                                                            <span class="alert alert text-danger ">@Resources.Global.RegionAlreadyExist</span>
                                                        }
                                                    </div>
                                               
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <div class="form-group">
                                                            <input type="submit" value=@Resources.Global.Save class="btn btn-primary demo3" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
        </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div class="footer text-center">
        <p>@Resources.Global.footer </p>
    </div>

</div>
