@model Ejab.BAL.ModelViews.SettingViewModel

@{
    ViewBag.Title = "EditSetting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper" class="gray-bg dashbard-1">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>@Resources.Global.Setting  </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Chart/Index/">@Resources.Global.Home  </a>
                </li>
                <li>
                    @Resources.Global.Setting
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5> @Resources.Global.Setting </h5>

                            </div>

                            <div class="ibox-content loginss">
                                @using (Html.BeginForm("EditSetting", "Setting", FormMethod.Post, new { @class = "form-horizontal" }))
                                {

                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                  
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">@Resources.Global.MaxExpireDayies  </label>
                                        <div class="col-sm-10">

                                            <div class="input-group m-b">
                                                @Html.TextBoxFor(x => x.MaxExpirDayies, new { @class = "form-control", id = "MaxExpirDayies", type = "number", min = "1", max = "20" })

                                            </div>
                                            @Html.ValidationMessageFor(x => x.MaxExpirDayies)
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">@Resources.Global.ExpireDayies </label>
                                        <div class="col-sm-10">

                                            <div class="input-group m-b">
                                                @Html.TextBoxFor(x => x.ExpirDayies, new { @class = "form-control", id = "ExpirDayies", type = "number", min = "1", max = "20" })


                                            </div>
                                            @Html.ValidationMessageFor(x => x.ExpirDayies)
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-primary buttt" type="submit" id="btnSave">@Resources.Global.Save </button>
                                            @Html.ActionLink(@Resources.Global.Back, "Index", "Setting", new { @class = "btn btn - default  buttt" })
                                        </div>
                                    </div>


                                }

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>



