@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<Ejab.BAL.ModelViews.RequestModelView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="page-wrapper" class="gray-bg dashbard-1">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-8">
            <h2> @Resources.Global.Requests</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Chart/Index/">@Resources.Global.Home  </a>
                </li>
                <li>
                    @Resources.Global.Requests
                </li>
            </ol>
        </div>
        <div class="col-sm-4 text-left">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group jobss">
                                            <h5>
                                                @Resources.Global.RequestsNumber
                                                <span>
                                                   @ViewBag.TotalCount
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        <div class="form-group">

                                            @using (Html.BeginForm("Index", "Request", FormMethod.Get))
                                            {

                                                <div class="input-group m-b">
                                                    <input type="text" name="search" id="search" placeholder="@Resources.Global.Search" class="form-control">
                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-primary  ">@Resources.Global.Search </button>

                                                    </span>

                                                </div>



                                            }

                                        </div>
                                    </div>
                                 
                                </div>

                                <!--  -->
                                <!--  -->

                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr><th></th>
                                                    <th>@Resources.Global.RequestNumber</th>
                                                    <th>@Resources.Global.Requestdate</th>
                                                    <th>@Resources.Global.Title </th>
                                                    <th>@Resources.Global.Description</th>

                                                    <th>@Resources.Global.LocationFrom</th>
                                                    <th>@Resources.Global.LocationTo</th>
                                                    <th>@Resources.Global.ExpireDate</th>
                                                    <th>@Resources.Global.RequestState</th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {

                                                    <tr>
                                                        <td></td>
                                                        <td>@item.Id</td>
                                                        <td>@item.Requestdate.ToString(string.Format("dd/MM/yyyy"))   </td>
                                                        <td>@item.Title   </td>
                                                        <td>@item.Description    </td>
                                                        <td>@item.LocationFrom      </td>
                                                        <td>@item.LocationTo </td>
                                                        <td>
                                                            @string.Format("{0:dd/MM/yyyy}", @item.ExpireDate)
                                                        </td>
                                                        <td class="footable-visible">
                                                            @if (@item.RequestState.ToString() == "Open")
                                                            {  <span class="btn btn-primary btn">@Resources.Global.Open</span>}
                                                            @if (@item.RequestState.ToString() == "OnProgress")
                                                            {  <span class="btn btn-success btn">@Resources.Global.OnProgress </span>}
                                                            @if (@item.RequestState.ToString() == "Accepted")
                                                            {  <span class="btn btn-default btn">@Resources.Global.Accepted </span>}
                                                            @if (@item.RequestState.ToString() == "Closed")
                                                            {  <span class="btn btn-danger  btn">@Resources.Global.Close </span>}
                                                            @if (@item.RequestState.ToString() == "Cancelled")
                                                            {  <span class="btn btn-danger  btn">@Resources.Global.Cancelled</span>}
                                                            @if (@item.RequestState.ToString() == "Expired")
                                                            {  <span class="btn btn-info  btn">@Resources.Global.Expired </span>}

                                                        </td>



                                                        <td>

                                                            @Html.ActionLink(Resources.Global.Detalies , "RequestDetailes", "Request", new { id = @item.Id }, new { @class = "btn btn-primary" })
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <nav aria-label="Page navigation">
                                            @Html.PagedListPager(Model, Page => Url.Action("Index", "Request", new { Page, search = Request.QueryString["search"] })) 
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
      
    </div>

    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>

 <script>
    $(document).ready(function () {

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        var foo = getParameterByName('search'); // "lorem"
        var nametext = document.getElementById('search');
        nametext.value=foo;

    })
</script>